################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Public-Adaptive-Intelligence-Framework-9/DesignTimeBuild
/.vs
/Adaptive.Intelligence.Shared/.vs/Adaptive.Intelligence.Shared
/Adaptive.Intelligence.Shared/obj
